<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#acc h3{background: skyblue;  }
#acc div{
border : 1px soild gray;
height: 100px;
}

</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
$(function () {
    $('#acc div').hide();
    $('#acc div').first().show();
	
    $('#acc h3').click(function(){
    	//$(this).siblings().not($(this).next()).filter('div').slideUp();                  $(this).next().siblings("div").slideUp();
    	$(this).next().slideDown();            	
    });            
});

$(function() {
$("#acc > div").hide();
$("h3").each(function() {
	$(this).click(function() {
		$(this).next().slideDown();
		$(this).next().siblings("div").slideUp();
	});
});
});
</script>

<meta charset="EUC-KR">
<title>Insert title here</title>
</head>


<body>
<div id="acc">
<h3 class="on" >제목1</h3>
<div><p>내용1</p></div>
<h3 class="off" >제목2</h3>
<div><p>내용2</p></div>
<h3 class="off" >제목3</h3>
<div><p>내용3</p></div>



</div>
</body>
</html>